@model IEnumerable<Hero>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BootsItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmuletItemId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeaponItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BootsItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmuletItemId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
